// Helpers
//
// helper classes and systems
//
// Styleguide Helpers


// footer: fixed bottom
//
// fixes the footer at the bottom of the page
//
// Styleguide Helpers.footer:fixed-bottom

footer.fixed, .footer.fixed
	position: absolute
	bottom: 0

// kss helpers
//
// kss helpers
//
// Styleguide Helpers.kss-helpers

.kss-display-rect
	@include rectangle(100%, 3em)

.text-align-left
	text-align: left
.text-align-center
	text-align: center
.text-align-right
	text-align: right

.display-inline
	display: inline

.hidden
	display: none
.float-R
	float: right
.float-L
	float: left

div.content-inset
	width: 80%
	margin: 0 auto