// bubbles
//
// creates independent content sections that hover above the page in a sort of bubble
// 
// .bubble-1 	- style 1
// .bubble-round	- round bubbles
//
// Markup: markup/bubbles.html
//
// Styleguide Modules.bubbles

.bubbles
	width: 80%
	margin: 0 auto 0 auto
	overflow: auto
	clear: both
	text-align: center
.bubble
	margin: 1em
	padding: 1em
	float: left
	@include dropShadow()
	border-radius: $border-radius
	color: $font-color

.bubbles.bubble-1
	.bubble
		background: $color-secondary
		color: $color-quaternary-text-light

.bubbles.bubble-round
	.bubble 
		border-radius: 50%
		padding: 1.5em