// form:two-column
form
	width: 100%
	label, .label-placeholder
		font-weight: bold
		display: inline-block
		width: 20%
		min-width: 5em
		clear: left
		text-align: center
		padding: 0.5em
	input, textarea
		display: inline-block
		width: 70%
.form-field
	display: block
.align-top
	vertical-align: top