.glyph-email::before
	width: 30%
	background-image: url('../../assets/systemt-iconography_08.gif')
	background-repeat: none 
	background-position: left center
	transform: scale(0.3)
	padding-left: 1em