// list
//
// applies styles to a set of list items
//
// .pretty	- pretty list
// 
// Markup: markup/list:pretty.html
// 
//
// Styleguide Modules.list

.pretty
	padding: 0
	li 
		padding: 0.2em
		background-color: $color-primary
		color: $color-primary-text
		border-top: 1px solid $color-secondary
		border-radius: $border-radius
		list-style-type: none
	li:last-child
		border-bottom: 1px solid $color-secondary
		margin-bottom: 1em
	li.list-header
		font-weight: bold
	li:hover
		background-color: $color-quaternary
		color: $color-quaternary-text
	li.complete
		background-color: mix($color-primary, black, 70%)
		color: $color-primary-text
		&:hover
			background-color: white 
			color: $color-primary

.menu
	span
		margin-right: 3px
	span:hover
		cursor: pointer