ul.list
	padding: 0
	li 
		list-style-type: none
		color: $module-list-li-color
		border-top: $module-list-li-border
		border-radius: $module-list-li-borderRadius
		background-color: $module-list-li-backgroundColor
	li:last-child
		border-bottom: $module-list-li-border
		margin-bottom: 1em
	li.list-header
		font-weight: bold
	li:hover
		background-color: $module-list-li-backgroundColorHover
		color: $module-list-li-colorHover
	li.complete
		background-color: $module-list-li-classComplete-backgroundColor

.menu
	span
		margin-right: 3px
	span:hover
		cursor: pointer