// main forces both sides to be clear - all content meant to be displayed
// below header/nav and above footer has to be inside main

main, .main
	width: 95%
	margin: 0.5em auto 0.5em auto
	padding: 0.5em
	clear: both