// Base Vars

// fonts
$font-headers: 'ff-enzo-web', 'Raleway', sans-serif
$font-content: 'expo-sans-pro', serif
$font-color: mix($color-secondary, black, 70%)


// Layout Vars

// dimensions
$width-html: 99.9%
$width-body: 99.9%
$width-main: 95%
$width-displays: 100%

$height-html: 99%
$height-body: 99%

// margins
$margin-header: 0 0 0 0
$margin-footer: 0 0 0 0

// element list
$element-list: p, form, ul, ol, tr, input


// Module Vars

// rounded-corners.sass
$border-radius: 3px

// drop shadow
$dropShadow-color: $color-secondary

// top-image
$module-topImage-height: 80%
