// nav
//
// - z-index: 100
// - removes li list-style-type
// - removes hover underline from links
// - sets margins to 0 for h1, h2
// - 
//
// Styleguide Base.nav

nav, .nav
	z-index: 100
	li 
		list-style-type: none
	a 
		text-decoration: none
	a:hover
		text-decoration: none
	h1, h2
		margin: 0